.header {
  width: 100%;
  height: 6rem;
  transition: all 0.2s ease-in-out;

  display: flex;
  justify-content: space-between;
  align-items: center;

  animation-fill-mode: both;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: reveal;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 1rem;
}

.header a {
  color: #000;
  font-size: 1.25rem;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

.header:hover,
.header a:hover,
.header a:active,
.header a.active {
  color: var(--red);
}

@media (max-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .header ul {
    gap: 0.25rem;
  }

  .header a {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .header ul {
    gap: inherit;
  }

  .header a {
    font-size: 0.9rem;
  }
}
