.contact {
  padding: 5%;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto 4rem;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contact h1 {
  font-size: 2rem;
  color: var(--black);
  text-align: center;
  margin-top: 0;
}

.contact h1::after {
  content: '';
  display: block;
  width: 20%;
  height: 5px;
  background-color: var(--red);
  margin: auto;
}

.form label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem 0 0.25rem 0;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  border: 1px solid darkgray;
  resize: none;
}

.form input:focus-visible,
.form textarea:focus-visible {
  outline-color: var(--red);
}

.controls {
  display: flex;
  column-gap: 3rem;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.actions {
  margin-top: 1.5rem;
  text-align: center;
}

.form button {
  font: inherit;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  background-color: var(--red);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

.form button:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .contact h1 {
    font-size: 4rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .form button {
    font-size: 1rem;
  }

  .form label {
    font-size: 1rem;
  }
}
