.projects {
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
}

.projects h1 {
  font-size: 2rem;
  color: var(--black);
  text-align: center;
}

.projects h1:after {
  content: '';
  display: block;
  width: 20%;
  height: 5px;
  background-color: var(--red);
  margin: auto;
}

@media (min-width: 768px) {
  .projects h1 {
    font-size: 4rem;
  }
}
