.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 2rem;
  align-content: center;
}

@media (max-width: 320px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
